<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.swjtuhc.demo.mapper.AdminMapper">
	
	<select id="selectAdminByAccountnum" parameterType="java.lang.String" resultType="edu.swjtuhc.demo.model.Admin">
		select * from admin
		where
		accountnum = #{accountnum}
	</select>
	
	<select id="selectBookBybooknumber" parameterType="java.lang.String" resultType="edu.swjtuhc.demo.model.Books">
		select * from books
		where
		booknumber = #{booknumber}
	</select>
</mapper>