<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.swjtuhc.demo.mapper.UserMapper" >

	<insert id="insertUer" parameterType="edu.swjtuhc.demo.model.SysUser">
		insert into sysuser
		(username,password,studentnum,phonenum)
		values
		(#{username},#{password},#{studentnum},#{phonenum})
	</insert>
	
	<update id="updatepassword" parameterType="edu.swjtuhc.demo.model.SysUser">
		update sysuser		
		set password = #{password}
		where
		username = #{username}	
		</update>


	<select id="selectUserByUsername" parameterType="java.lang.String" resultType="edu.swjtuhc.demo.model.SysUser">
		select * from sysuser
		where
		username = #{username}
	</select>
	
	
	<select id="selectbrecord" resultType="edu.swjtuhc.demo.model.Brecord">
		select * from brecord
		where
		username = #{username}
	</select>
	
	<select id="selectrrecord" resultType="edu.swjtuhc.demo.model.Rrecord">
		select * from rrecord
		where
		username = #{username}
	</select>
	
	<select id="selectgetpassword" parameterType="java.lang.String" resultType="edu.swjtuhc.demo.model.SysUser">
		select password from sysuser
		where
		username = #{username}
	</select>
</mapper>